@font-face {
	font-family:'incised';
	src: url('fuentes/IN901XKI.ttf');
}

@font-face {
	font-family: 'francois';
	src: url('fuentes/FrancoisOne-Regular.ttf');
	
}

body {
	font-family:'dhurjati', verdana,sans-serif;
	background-color: rgba(3,12,99,1);

}

#contenedor {
	width:100%;
	position:absolute;
	top:10px;
	left:10px;
	border:1px solid;
	border-radius:10px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	background-color:white;
	background: url('img/fondo.png') no-repeat;
	background-size: cover;
	background-position:fixed;
}

#contenedor h1{
	margin:0;
	padding:0;
	font-family:'incised', verdana, sans-serif;
}

#hamburguesa {
	width:30px;
	height:30px;
	position:absolute;
	top:15px;
	right:10px;
	z-index:10;
	background: url('img/hamburguesa-30x30.png') no-repeat;
	background-size:contain;
	
}

#mensaje {
	position:absolute;
	width:250px;
	height:150px;
	border:5px solid rgba(3,12,99,1);
	border-radius:15px;
	display:none;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	background-color: white;
	padding:5px;
	font-family:'francois', verdana,sans-serif;
	
}

#mensaje span {
	text-align:center;
}

#mensaje div {
	width:100%;
	display:flex;	
	justify-content: space-around;
	align-items: center;
}

#mensaje button {
	
	width:100px;
	height:30px;
	border-radius: 10px;
	background-color:rgba(3,12,99,1);
	color:white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom:15px;

}


#ruta {
	position:absolute;
	width:150px;
	height:100px;
	top:200px;
	border:5px solid rgba(3,12,99,1);
	border-radius:15px;
	display:none;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	background-color: white;
	padding:5px;
	font-family:'francois', verdana,sans-serif;
	z-index:160;
	
}

#ruta span {
	text-align:center;
}

#ruta div {
	width:100%;
	display:flex;	
	justify-content: space-around;
	align-items: center;
}

#ruta button {
	
	width:100px;
	height:30px;
	border-radius: 10px;
	background-color:rgba(3,12,99,1);
	color:white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom:15px;

}




#menu {
	
	position:absolute;
	top:135px;
	
	border:1px solid;
	background-color: rgba(3,12,99,0.9);
	transition:1s;

	z-index:150;

}




#menu ul {
	list-style-type: none;
	margin:0;
	padding:0;

}

#menu>ul>li {
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:60px;
	border-bottom:1px solid;
	
	font-weight:bold;
	font-size:1em;

}

#submenu1, #submenu2 {
	display: none;
}

#submenu1 li, #submenu2 li {
	display:flex;
	justify-content: flex-end;
	align-items: center;
	
	height:40px;
	border-bottom:1px solid;

	font-weight:bold;
	font-size:0.8em;
	
}

#submenu1 li span, #submenu2 li  span{
	display:block;
	width:100%;
	height:40px;
	margin-right:20px;
	display:flex;
	justify-content: flex-end;
	align-items: center;

}

#subSubmenu2 {
	isplay:none;
}





#contenedor>button:first-of-type {

	width:130px;
	height:130px;
	border-radius:50%;
	background-image: radial-gradient(circle at center center,#83C2F8 0%, #83C2F8 20%, rgba(3,12,99,1) 85%, rgba(3,12,99,1) 100%);
	color:white;
	font-weight:bold;
	font-size:1.2em;
	border:none;
	outline:none;
	box-shadow: none;
	font-family:'francois', verdana,sans-serif;
}

#contenedor>button:last-of-type {

	width:130px;
	height:130px;
	border-radius:50%;
	background-image: radial-gradient(circle at center center,#83C2F8 0%, #83C2F8 20%, rgba(3,12,99,1) 85%, rgba(3,12,99,1) 100%);
	color:white;
	font-weight:bold;
	font-size:1.4em;
	border:none;
	outline:none;
	box-shadow: none;
	font-family:'francois', verdana,sans-serif;
}

#ponerMarcador {
	position:absolute;
	width:75%;
	height:200px;
	border:5px solid rgba(3,12,99,1);
	border-radius:15px;
	display:none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding:5px;
	font-size:0.8em;
	z-index:100;

}

#ponerMarcador h3 {
	text-align:center;
}



#ponerMarcador input {
	margin-top:10px;
	margin-bottom:15px;
}

#ponerMarcador div {
	width:80%;
	display:flex;	
	justify-content: space-around;
	align-items: center;
}



#envolturaMapa {
	position:absolute;
	z-index:50;	
	left:0;
	top:140px;
	width:98%;

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display:none;
	
}

#envolturaMapa>div {
	display:flex;
	
	justify-content: space-around;
	align-items: center;
}

#envolturaMapa>div>button {
	width:100px;
	height:30px;
	border-radius: 10px;
	
	color:white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom:15px;

}

#contenidoMapa {
	width:100%;
	margin-bottom:20px;
	border:3px solid rgba(3,12,99,0.9);
}

#gmaps_context_menu a {
	text-decoration: none;
	color:black;
}

.iconito {
	width:100px;
	height:25px;
	border-radius:5px;
	background-color: rgba(3,12,99,0.5);
	color:white;
	font-family:verdana;
	font-weight:bold;
	font-size:0.9em;
	display:flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width:360px) {

	#hamburguesa {
		width:40px;
		height:40px;
		top:25px;
		right:10px;
		z-index:10;
		background: url('img/hamburguesa-30x30.png') no-repeat;
		background-size:contain;
		
	}
}

@media screen and (min-width:480px) {

	#hamburguesa {
		width:50px;
		height:50px;
		
	}
	#contenedor>button:first-of-type {

		width:150px;
		height:150px;
		
		font-size:1.4em;
		
	}

	#contenedor>button:last-of-type {

		width:150px;
		height:150px;
		
		font-size:1.4em;
		
	}
}

@media screen and (min-width:640px) {

	#hamburguesa {
		width:60px;
		height:60px;
		
	}

	#contenedor h1{
		margin-top:20px;
		font-size:4em;
	}
	#contenedor>button:first-of-type {

		width:200px;
		height:200px;
		
		font-size:1.6em;
		
	}

	#contenedor>button:last-of-type {

		width:200px;
		height:200px;
		
		font-size:1.6em;
		
	}

	#menu {
	
		top:180px;
	}

	#ruta {
		top:300px;
	}


}

@media screen and (min-width:720px) {

	#hamburguesa {
		width:70px;
		height:70px;
		
	}

	#contenedor h1{
		font-size:4em;
	}
	#contenedor>button:first-of-type {

		width:250px;
		height:250px;
		
		font-size:1.8em;
		
	}

	#contenedor>button:last-of-type {

		width:250px;
		height:250px;
		
		font-size:1.8em;
		
	}

	#menu {
	
		top:220px;
	}

	#menu ul li {
		height:60px;		
		font-size:1.4em;
	}

	#submenu1 li, #submenu2 li {
		
	
		height:50px;		
		font-size:1.2em;
		
	}

	#ruta {
		top:450px;
	}


}



@media screen and (min-width:860px) {
	#hamburguesa {
		width:80px;
		height:80px;
		
	}

	#contenedor h1{
		font-size:5em;
	}

	#menu {
	
		top:250px;
	}
	

	#menu ul li {
		
		height:80px;		
		font-size:1.4em;

	}
	#submenu1 li, #submenu2 li {
		
	
		height:60px;		
		font-size:1em;
		
	}

	#mensaje {
		width:400px;
		height:200px;
		font-size:1.2em;
	}
}

@media screen and (min-width:1024px) {



	#contenedor h1{
		font-size:6em;
	}
	#contenedor>button:first-of-type {

		width:300px;
		height:300px;
		
		font-size:2em;
		
	}

	#contenedor>button:last-of-type {

		width:300px;
		height:300px;
		
		font-size:2em;
		
	}

	#menu {
	
		top:250px;
	}

	#menu ul li {
		
		height:100px;		
		font-size:1.6em;

	}
	#submenu1 li, #submenu2 li {
		
	
		height:80px;		
		font-size:1.4em;
		
	}
}